In [33]:
numbers = ['0','1','2','3','4','5']
print(numbers)
numbers = str(numbers)
print(numbers)
numbers = "".join(numbers)
print(f"{numbers}")

['0', '1', '2', '3', '4', '5']
['0', '1', '2', '3', '4', '5']
['0', '1', '2', '3', '4', '5']

In [31]:
project_authors = ["Mike", "Sofia", "Helen"]

print(f"The people who worked on this project are: {', '.join(project_authors)}.")

The people who worked on this project are: Mike, Sofia, Helen.

In [36]:
numbers = [1, 2, 3, 4, 5]

stringified_numbers = []

for number in numbers:
    stringified_numbers.append(str(number))
    print(stringified_numbers)
print(', '.join(stringified_numbers)) # 1, 2, 3, 4, 5

['1']
['1', '2']
['1', '2', '3']
['1', '2', '3', '4']
['1', '2', '3', '4', '5']
1, 2, 3, 4, 5

In [45]:
full_name = input("Please enter your first and last name seperated by commas: ")
full_name = full_name.split(",")

Please enter your first and last name seperated by commas:  Sneedy,Chuck

In [46]:
full_name

['Sneedy', 'Chuck']

In [47]:
First_name = full_name[0]

In [48]:
last_name = full_name[1]

In [49]:
last_name

'Chuck'

In [51]:
First_name

'Sneedy'

In [56]:
print(f"Your first name is {First_name} and your last name is {last_name}")

Your first name is Sneedy and your last name is Chuck

In [58]:
numbers = [1, 2, 3, 4, 5]

stringified_numbers = []

for number in numbers:
    stringified_numbers.append(str(number))
    print(stringified_numbers)
print(' | '.join(stringified_numbers)) # 1, 2, 3, 4, 5

['1']
['1', '2']
['1', '2', '3']
['1', '2', '3', '4']
['1', '2', '3', '4', '5']
1 | 2 | 3 | 4 | 5

In [83]:
 quotes = [
     "'What a waste my life would be without all the beautiful mistakes I've made.'",
     "'A bend in the road is not the end of the road... Unless you fail to make the turn.'",
     "'The very essence of romance is uncertainty.'",
     "'We are not here to do what has already been done.'"
 ]
for quote in quotes:
    sneed_quote = quote.strip(",")[1:-1]
    print(sneed_quote)

What a waste my life would be without all the beautiful mistakes I've made.
A bend in the road is not the end of the road... Unless you fail to make the turn.
The very essence of romance is uncertainty.
We are not here to do what has already been done.

In [106]:
cee_quote = quotes[0].strip(",")[1:-2]

In [107]:
cee_quote

"What a waste my life would be without all the beautiful mistakes I've made"

In [117]:
wall_of_text = input(f"Please enter schizophrenic ramblings: ").strip()
print(f"Your word count is: {len(wall_of_text)}")

Please enter schizophrenic ramblings:  d ddddddddddddddddd

Your word count is: 19

In [118]:
wall_of_text

'd ddddddddddddddddd'

In [120]:
movies = [
    ("Eternal Sunshine of the Spotless Mind", 20000000),
    ("Memento", 9000000),
    ("Requiem for a Dream", 4500000),
    ("Pirates of the Caribbean: On Stranger Tides", 379000000),
    ("Avengers: Age of Ultron", 365000000),
    ("Avengers: Endgame", 356000000),
    ("Incredibles 2", 200000000)
]
Total = 0
for movie in movies:
    Total = (movie[1] + Total)

In [122]:
Average_budget = Total / len(movies)

In [123]:
Average_budget

190500000.0

In [128]:
Above_average_count = 0
for movie in movies:
    if movie[1] > Average_budget:
        print(movie[1]-Average_budget)
        Above_average_count += 1

188500000.0
174500000.0
165500000.0
9500000.0

In [129]:
print(Above_average_count)

4